In [54]:
import pandas as pd
import ast

In [55]:
df_movies = pd.read_parquet(r"E:\Repositorios y bases de datos\Henry DS\Proyecto-individual-N-1---LABS---Henry\datos_procesados\movies_dataset.parquet")

In [56]:
df_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",None,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",None,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",None,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",None,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,None,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,None,0,"[{'id': 18, 'name': 'Drama'}]",None,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,None,Century of Birthing,False,9.0,3.0
45463,False,None,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",None,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,None,0,[],None,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,None,Satan Triumphant,False,0.0,0.0
45465,False,None,0,[],None,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Queerama,False,0.0,0.0

## Desanidado de los datos

In [57]:
df_movies['genres_desanidadas'] = df_movies['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_movies['belongs_to_collection_desanidada'] = df_movies['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_movies['production_companies_desanidadas'] = df_movies['production_companies'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_movies['spoken_languages_desanidadas'] = df_movies['spoken_languages'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_movies['production_countries_desanidadas'] = df_movies['production_countries'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [58]:
df_movies['genres_desanidadas']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres_desanidadas, Length: 45466, dtype: object

In [59]:
# Verificación del tipo de datos antes de la desanidación
print("Tipo de datos antes de la desanidación:")
print(type(df_movies['genres'].iloc[0]))

# Desanidación
if isinstance(df_movies['genres'].iloc[0], str):
    df_movies['genres'] = df_movies['genres'].apply(lambda x: ast.literal_eval(x))

print("\nDespués de la desanidación:")
print(df_movies['genres'].iloc[0])

Tipo de datos antes de la desanidación:
<class 'str'>

Después de la desanidación:
[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

## Eliminación de datos irrelevantes

In [60]:
df_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,genres_desanidadas,belongs_to_collection_desanidada,production_companies_desanidadas,spoken_languages_desanidadas,production_countries_desanidadas
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,None,Toy Story,False,7.7,5415.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","{'id': 10194, 'name': 'Toy Story Collection', ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
1,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",None,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",None,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_3166_1': 'US', 'name': 'United States o..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",None,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
3,False,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",None,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",None,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",None,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 35, 'name': 'Comedy'}]","{'id': 96871, 'name': 'Father of the Bride Col...","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",None,[],"[{'iso_639_1': 'fa', 'name': 'فارسی'}]","[{'iso_3166_1': 'IR', 'name': 'Iran'}]"
45462,False,None,0,"[{'id': 18, 'name': 'Drama'}]",None,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,None,Century of Birthing,False,9.0,3.0,"[{'id': 18, 'name': 'Drama'}]",None,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_639_1': 'tl', 'name': ''}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]"
45463,False,None,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",None,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,A deadly game of wits.,Betrayal,False,3.8,6.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",None,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
45464,False,None,0,[],None,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,None,Satan Triumphant,False,0.0,0.0,[],None,"[{'name': 'Yermoliev', 'id': 88753}]",[],"[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
45465,False,None,0,[],None,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,None,Queerama,False,0.0,0.0,[],None,[],"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"

In [61]:
df_movies.drop(columns=['adult', 'genres', 'belongs_to_collection', 'homepage', 'imdb_id', 'original_language', 
'overview', 'popularity', 'poster_path', 'production_companies', 
'production_countries', 'runtime', 'spoken_languages', 'status', 'belongs_to_collection_desanidada', 'production_companies_desanidadas', 'spoken_languages_desanidadas', 'production_countries_desanidadas', 
'tagline', 'video'], inplace=True)

In [62]:
df_movies_reducido = df_movies

In [63]:
df_movies_reducido.dropna(how='all')

df_movies_reducido

,budget,id,original_title,release_date,revenue,title,vote_average,vote_count,genres_desanidadas
0,30000000,862,Toy Story,1995-10-30,373554033.0,Toy Story,7.7,5415.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,65000000,8844,Jumanji,1995-12-15,262797249.0,Jumanji,6.9,2413.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,0,15602,Grumpier Old Men,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,16000000,31357,Waiting to Exhale,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,0,11862,Father of the Bride Part II,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...,...,...,...,...,...
45461,0,439050,رگ خواب,None,0.0,Subdue,4.0,1.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
45462,0,111109,Siglo ng Pagluluwal,2011-11-17,0.0,Century of Birthing,9.0,3.0,"[{'id': 18, 'name': 'Drama'}]"
45463,0,67758,Betrayal,2003-08-01,0.0,Betrayal,3.8,6.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45464,0,227506,Satana likuyushchiy,1917-10-21,0.0,Satan Triumphant,0.0,0.0,[]
45465,0,461257,Queerama,2017-06-09,0.0,Queerama,0.0,0.0,[]

Limpiando columnas desanidadas

In [64]:
df_movies_limpio = pd.DataFrame(df_movies_reducido)

# Creación de una nueva columna 'genre' con el nombre del primer género de cada película
df_movies_limpio['genre'] = df_movies_limpio['genres_desanidadas'].apply(lambda x: x[0]['name'] if len(x) > 0 else None)

# Eliminación de columnas innecesarias
df_movies_limpio.drop(['genres_desanidadas'], axis=1, inplace=True)

# Muestra del DataFrame resultante
df_movies_limpio

,budget,id,original_title,release_date,revenue,title,vote_average,vote_count,genre
0,30000000,862,Toy Story,1995-10-30,373554033.0,Toy Story,7.7,5415.0,Animation
1,65000000,8844,Jumanji,1995-12-15,262797249.0,Jumanji,6.9,2413.0,Adventure
2,0,15602,Grumpier Old Men,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,Romance
3,16000000,31357,Waiting to Exhale,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,Comedy
4,0,11862,Father of the Bride Part II,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,Comedy
...,...,...,...,...,...,...,...,...,...
45461,0,439050,رگ خواب,None,0.0,Subdue,4.0,1.0,Drama
45462,0,111109,Siglo ng Pagluluwal,2011-11-17,0.0,Century of Birthing,9.0,3.0,Drama
45463,0,67758,Betrayal,2003-08-01,0.0,Betrayal,3.8,6.0,Action
45464,0,227506,Satana likuyushchiy,1917-10-21,0.0,Satan Triumphant,0.0,0.0,None
45465,0,461257,Queerama,2017-06-09,0.0,Queerama,0.0,0.0,None

## Renombrando y Casteando datos

In [65]:
df_movies_limpio['budget'] = pd.to_numeric(df_movies_limpio['budget'], errors='coerce')

In [66]:
df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')

In [67]:
print(df_movies_limpio.dtypes)

budget                   float64
id                        object
original_title            object
release_date      datetime64[ns]
revenue                  float64
title                     object
vote_average             float64
vote_count               float64
genre                     object
dtype: object

In [68]:
# Valores nulos por columna
print(df_movies_limpio.isnull().sum())

budget               3
id                   0
original_title       0
release_date        90
revenue              6
title                6
vote_average         6
vote_count           6
genre             2442
dtype: int64

In [69]:
# Release_date como datetime
df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')

# Conversión a fecha sin hora
df_movies_limpio['release_date'] = df_movies_limpio['release_date'].dt.date

# Muestra de las primeras filas para verificar
print(df_movies_limpio.head())

       budget     id               original_title release_date      revenue  \
0  30000000.0    862                    Toy Story   1995-10-30  373554033.0
1  65000000.0   8844                      Jumanji   1995-12-15  262797249.0
2         0.0  15602             Grumpier Old Men   1995-12-22          0.0
3  16000000.0  31357            Waiting to Exhale   1995-12-22   81452156.0
4         0.0  11862  Father of the Bride Part II   1995-02-10   76578911.0

                         title  vote_average  vote_count      genre
0                    Toy Story           7.7      5415.0  Animation
1                      Jumanji           6.9      2413.0  Adventure
2             Grumpier Old Men           6.5        92.0    Romance
3            Waiting to Exhale           6.1        34.0     Comedy
4  Father of the Bride Part II           5.7       173.0     Comedy

In [70]:
columnas_null = ['budget', 'genre', 'revenue', 'title', 'release_date', 'vote_average', 'vote_count']

for column in columnas_null:
    df_movies_limpio[column].fillna('Not available', inplace=True)

# Verificación de llenado de los valores nulos
print(df_movies_limpio.isnull().sum())

budget            0
id                0
original_title    0
release_date      0
revenue           0
title             0
vote_average      0
vote_count        0
genre             0
dtype: int64

C:\Users\Germán\AppData\Local\Temp\ipykernel_10892\2091201202.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_movies_limpio[column].fillna('Not available', inplace=True)
C:\Users\Germán\AppData\Local\Temp\ipykernel_10892\2091201202.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not available' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_movies_limpio[column].fillna('Not available', inplace=True)

In [71]:
df_movies_limpio

,budget,id,original_title,release_date,revenue,title,vote_average,vote_count,genre
0,30000000.0,862,Toy Story,1995-10-30,373554033.0,Toy Story,7.7,5415.0,Animation
1,65000000.0,8844,Jumanji,1995-12-15,262797249.0,Jumanji,6.9,2413.0,Adventure
2,0.0,15602,Grumpier Old Men,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,Romance
3,16000000.0,31357,Waiting to Exhale,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,Comedy
4,0.0,11862,Father of the Bride Part II,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,Comedy
...,...,...,...,...,...,...,...,...,...
45461,0.0,439050,رگ خواب,Not available,0.0,Subdue,4.0,1.0,Drama
45462,0.0,111109,Siglo ng Pagluluwal,2011-11-17,0.0,Century of Birthing,9.0,3.0,Drama
45463,0.0,67758,Betrayal,2003-08-01,0.0,Betrayal,3.8,6.0,Action
45464,0.0,227506,Satana likuyushchiy,1917-10-21,0.0,Satan Triumphant,0.0,0.0,Not available
45465,0.0,461257,Queerama,2017-06-09,0.0,Queerama,0.0,0.0,Not available

In [72]:
# Renombrar la columna 'id' en df_movies a 'movie_id'
df_movies_limpio.rename(columns={'id': 'movie_id'}, inplace=True)

In [73]:
df_movies_limpio

,budget,movie_id,original_title,release_date,revenue,title,vote_average,vote_count,genre
0,30000000.0,862,Toy Story,1995-10-30,373554033.0,Toy Story,7.7,5415.0,Animation
1,65000000.0,8844,Jumanji,1995-12-15,262797249.0,Jumanji,6.9,2413.0,Adventure
2,0.0,15602,Grumpier Old Men,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,Romance
3,16000000.0,31357,Waiting to Exhale,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,Comedy
4,0.0,11862,Father of the Bride Part II,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,Comedy
...,...,...,...,...,...,...,...,...,...
45461,0.0,439050,رگ خواب,Not available,0.0,Subdue,4.0,1.0,Drama
45462,0.0,111109,Siglo ng Pagluluwal,2011-11-17,0.0,Century of Birthing,9.0,3.0,Drama
45463,0.0,67758,Betrayal,2003-08-01,0.0,Betrayal,3.8,6.0,Action
45464,0.0,227506,Satana likuyushchiy,1917-10-21,0.0,Satan Triumphant,0.0,0.0,Not available
45465,0.0,461257,Queerama,2017-06-09,0.0,Queerama,0.0,0.0,Not available

In [74]:
df_movies_limpio['budget'] = pd.to_numeric(df_movies_limpio['budget'], errors='coerce').fillna(0)

# Creación de la columna 'return' con el cálculo
df_movies_limpio['return'] = df_movies_limpio.apply(
    lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1
)

print(df_movies_limpio[['title', 'budget', 'revenue', 'return']].head())

                         title      budget      revenue     return
0                    Toy Story  30000000.0  373554033.0  12.451801
1                      Jumanji  65000000.0  262797249.0   4.043035
2             Grumpier Old Men         0.0          0.0   0.000000
3            Waiting to Exhale  16000000.0   81452156.0   5.090760
4  Father of the Bride Part II         0.0   76578911.0   0.000000

In [75]:
df_movies_limpio

,budget,movie_id,original_title,release_date,revenue,title,vote_average,vote_count,genre,return
0,30000000.0,862,Toy Story,1995-10-30,373554033.0,Toy Story,7.7,5415.0,Animation,12.451801
1,65000000.0,8844,Jumanji,1995-12-15,262797249.0,Jumanji,6.9,2413.0,Adventure,4.043035
2,0.0,15602,Grumpier Old Men,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,Romance,0.000000
3,16000000.0,31357,Waiting to Exhale,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,Comedy,5.090760
4,0.0,11862,Father of the Bride Part II,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,Comedy,0.000000
...,...,...,...,...,...,...,...,...,...,...
45461,0.0,439050,رگ خواب,Not available,0.0,Subdue,4.0,1.0,Drama,0.000000
45462,0.0,111109,Siglo ng Pagluluwal,2011-11-17,0.0,Century of Birthing,9.0,3.0,Drama,0.000000
45463,0.0,67758,Betrayal,2003-08-01,0.0,Betrayal,3.8,6.0,Action,0.000000
45464,0.0,227506,Satana likuyushchiy,1917-10-21,0.0,Satan Triumphant,0.0,0.0,Not available,0.000000
45465,0.0,461257,Queerama,2017-06-09,0.0,Queerama,0.0,0.0,Not available,0.000000

In [76]:
# Exportación como csv
df_movies_limpio.to_csv('E:\Repositorios y bases de datos\Henry DS\Proyecto-individual-N-1---LABS---Henry\datos_procesados\movies_df.csv', index=False)